.topNav {
  background-color: #575656;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;
  z-index: 5;
}

nav {
  margin: auto;
  text-align: right;
  width: 58%;
  padding-bottom: 1rem;
}
nav .icon {
  display: none;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
nav .icon .fa-bars {
  font-size: 10vw;
  color: #0095ff;
}
nav .icon .fa-bars:hover {
  color: #0076ca;
}
nav button {
  background-color: transparent;
  border: 5px solid #ec9b03;
  border-bottom: 10px solid #ec9b03;
  border-radius: 15px;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
  position: relative;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: lowercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.15s ease-in;
  -o-transition: 0.15s ease-in;
  -ms-transition: 0.15s ease-in;
  -moz-transition: 0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
}
nav button:before {
  content: "";
  position: absolute;
  background: #ec9b03;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.15s ease-in;
}
nav button:hover:before {
  top: 0;
}
nav button:focus {
  outline: 0;
}
nav button:not(.active):hover {
  background-color: #ec9b03;
}
nav button:not(.active):active {
  background-color: #c07d00;
  border: 5px solid #c07d00;
  border-bottom: 10px solid #c07d00;
}
nav .active {
  background-color: #ec9b03;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  nav {
    width: 80%;
  }

  .topNav a:not(:first-child) {
    display: none;
  }

  .topNav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topNav.responsive {
    position: relative;
  }

  .topNav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}
